html,body{
    height:100%;
    width:100%;
    overflow:hidden;
    background-image:url("../img/hyyloginback.png");
    background-size:100%;
}
nav{
    height:0.88rem;
    width:96%;
    margin:0 auto;
}
nav a {
    color: #fff;
    font-family: "宋体";
    font-size: 0.5rem;
    display: block;
    line-height: 0.88rem;
}
.login{
    margin:0 auto;
    margin-top:0.2rem;
    height:2.36rem;
    width:2.6rem;
}
.login img{
    width:100%;
}
.loginword{
    margin:0 auto;
    margin-top:0.08rem;
    height:1.69rem;
    width:3.22rem;
}
.loginword img{
    width:100%;
}
.loginbtn{
    height:0.9rem;
    width:4rem;
    border-radius:0.6rem;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    font-size: 0.4rem;
    margin:0 auto;
    margin-top:0.9rem;
    text-align: center;
    line-height: 0.9rem;
    color:#495558;
}
.input{
    height:2.5rem;
    width:6rem;
    margin:0 auto;
    margin-top:0.5rem;
    background: #fff;
    border-radius: 0.4rem;
    padding:0.2rem;
    box-sizing: border-box;
}
.input .label{
    height:1.08rem;
    width:100%;
    position: relative;
}
.input .label .user{
    height:100%;
    width:66%;
    border:none;
    display: block;
    padding-left: 1.8rem;
    outline: none;
    font-size: 0.32rem;
}
.input p{
    height:1px;
    width:100%;
    background: #ccc;
}
.input .label .pass{
    height:100%;
    width:66%;
    border:none;
    display: block;
    padding-left: 1.85rem;
    outline: none;
    font-size: 0.32rem;
}
.input .label img{
    height:0.43rem;
    position: absolute;
    top:0.28rem;
    right:0.2rem;
}
.input span{
    position:absolute;
    left:0.2rem;top:0.1rem;
    color:#525E61;
    font-size:0.32rem;
    font-weight: bold;
}
.input span.mi{
    left:0.26rem;
}
.input span.first{
    left:0;
    top:0.55rem;
    font-weight:500;
    font-size:0.3rem;
}
.input .label .pass::-webkit-input-placeholder,.input .label .user::-webkit-input-placeholder{
    color:#c1c1c1;
    font-size:0.24rem;
}
.lose{
    height:1.1rem;width:80%;
    margin:0 auto;
    font-size:0.26rem;
    padding:0.1rem 0.15rem;
}
.lose section{
    float:left;
    height:100%;
    width: 50%;
    line-height:0.9rem;
    text-align: left;
}
.lose section .bottom{
    height:0.3rem;
    width:0.82rem;
    background: rgba(255,255,255,0.4);
    float: left;
    border-radius: 0.25rem;
    margin-top:0.3rem;
    position: relative;
}
.lose section .bottom p {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
}
.lose section .bottom p.jizhu{
    right:0;
}
.lose section .bottom.jizhu{
    background:dodgerblue ;
}
.lose section:first-child a{
    float:left;
    display: block;
    padding-left:0.1rem;
}
.lose section a{
    color:#fff;
}
.lose section:nth-child(2){
    text-align: right;
}