body{
    background: #F2F2F2;
}
span{
    font-size:0.26rem;
    color:#8c8c8c;
}
nav{
    height:0.99rem;
    width:100%;
    background:#FE464E;
    position:absolute;
    left:0;
    top:0;
}
nav p{
    color:#fff;
    text-align: center;
}
nav p:first-of-type{
    margin-top:0.1rem;
    font-size: 0.33rem;
}
nav .return{
    height:0.66rem;
    width: 0.66rem;
    position: absolute;
    left:0.2rem;
    top:0.2rem;
}
nav .return img{
    height:100%;
    display: block;
}
.iscroll{
    position:absolute;
    top:0.99rem;
    bottom:0.98rem;
    left:0;
    width: 100%;
    overflow: hidden;
}
.iscroll .zhuti{
    height:12.24rem;
}
form{
    height:auto;
    width:100%;
    margin-top: 0.5rem;
}
label{
    height:0.8rem;
    width:90%;
    margin:0.2rem auto;
    display: block;
    background: #fff;
    padding:0 0.3rem;
    border-radius: 0.2rem;
}
label input{
    outline: none;
    float: left;
    height:100%;
    width:73%;
}
label span{
    float: left;
    display: block;
    height:100%;
    width: 25%;
    line-height: 0.8rem;
}
h2.biao{
    height:0.5rem;
    width:90%;
    margin:0 auto;
    color:#3c3c3c;
    text-align: center;
}
.history{
    width:86%;
    height:auto;
    margin:0 auto;
}
.history li{
    width:100%;
    height:0.8rem;
    margin-top: 0.1rem;
    border-bottom: 1px solid #ccc;
}
.history li p{
    color:#000;
    font-size: 0.2rem;
}
.history li p span{
    color:#ccc;
    margin-left: 0.5rem;
    font-size: 0.16rem;
}
footer{
    height:0.99rem;
    width:100%;
    background:#FE464E;
    position:absolute;
    left:0;
    bottom:0;
}
footer p{
    color:#fff;
    text-align: center;
}
footer p:first-child{
    margin-top:0.1rem;
    font-size: 0.33rem;
}